EXPO_PUBLIC_SUPABASE_URL=<your E2E test project URL>
EXPO_PUBLIC_SUPABASE_PUBLISHABLE_KEY=<your E2E test project anon key>
E2E_TEST_USER_EMAIL=<test user email>
E2E_TEST_USER_PASSWORD=<test user password>