EXPO_PUBLIC_SUPABASE_URL=<your E2E test project URL>
EXPO_PUBLIC_SUPABASE_PUBLISHABLE_KEY=<your E2E test project anon key>
PROD_PROJECT_REF=<your E2E test project reference>
SUPABASE_DB_PASSWORD=<your E2E test project database password>