# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Turbo
.turbo/

# Tamagui
.tamagui/

# Environment
.env
.env.*
apps/app/.env
# Do not ignore .env.example
!.env.example
!.env.e2e.example

# OS
.DS_Store
Thumbs.db